name: "Test Features (CI)"
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  shellchecker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Shell Linter
      uses: azohra/shell-linter@v0.6.0

  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        features: [
            "anaconda",
            "aws-cli",
            "azure-cli",
            "common",
            "desktop-lite",
            "docker-from-docker",
            "docker-in-docker",
            "dotnet",
            "git",
            "git-lfs",
            "github-cli",
            "go",
            "hugo",
            "java",
            "python jupyterlab",  # Install 'python', then 'jupyterlab'
            "kubectl-helm-minikube",
            "node",
            "oryx",
            "php",
            "powershell",
            "python",
            "ruby",
            "rust",
            "sshd",
            "terraform",
          ]
        baseImage: [ "ubuntu:focal", "ubuntu:jammy", "debian:11", "mcr.microsoft.com/vscode/devcontainers/base:ubuntu", "mcr.microsoft.com/vscode/devcontainers/base:debian" ]
    steps:
      - uses: actions/checkout@v2

      - name: " Testing '${{ matrix.features }}' against '${{ matrix.baseImage }}'"
        run: npx --yes ./devcontainers-cli-0.3.0.tgz features test -f ${{ matrix.features }} -i ${{ matrix.baseImage }} -c `pwd`
