name: "Test Features"
on: 
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
          matrix:
            features: [ 
              "anaconda", 
              "aws-cli", 
              "azure-cli", 
              "common", 
              "desktop-lite", 
              "docker-from-docker",
              "docker-in-docker", 
              "dotnet", 
              "git", 
              "github-cli", 
              "git-lfs", 
              "go", 
              "gradle", 
              "hugo", 
              "java", 
              "python jupyterlab", # Install 'python', then 'jupyterlab'
              "kubectl-helm-minikube", 
              "maven", 
              "node", 
              "powershell", 
              "python", 
              "ruby", 
              "rust", 
              "sshd", 
              "terraform" ]
            baseImage: [ "ubuntu:focal" ]
    steps:
      - uses: actions/checkout@v2

      - name: " Testing '${{ matrix.features }}' against '${{ matrix.baseImage }}'"
        run: npx --yes ./devcontainers-cli-0.3.0.tgz features test -f ${{ matrix.features }} -i ${{ matrix.baseImage }} -c `pwd` 
