name: "Manual - Test Features"
on:
  workflow_dispatch:
    inputs:
      features:
        description: "List of features to execute tests against"
        required: true
        default: "go dotnet"
      baseImage:
        description: "Base image"
        required: true
        default: "ubuntu:focal"
      logLevel:
        description: "Log Level (info/debug/trace)"
        required: true
        default: "info"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Install latest devcontainer CLI"
        run: npm install -g @devcontainers/cli

      - name: "Testing '${{ github.event.inputs.features }}' against '${{ github.event.inputs.baseImage }}'"
        run: devcontainer features test --features ${{ github.event.inputs.features }} --base-image ${{ github.event.inputs.baseImage }} --log-level ${{ github.event.inputs.logLevel }} .
